<p id = "notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>

<% cache @products do %>
  <% @products.each do |p| %>
    <% cache @product do %>
      <div class = "entry">
        <%= image_tag(p.image_url) %>
        <h3> <%= p.title %></h3>
        <%= sanitize(p.description) %>
        <div class = "price_line">
          <span class = "price"><%= number_to_currency(p.price) %></span>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<p>Store#index Find me in app/views/store/index.html.erb</p>
