<p id = "notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>
<!-- <h2>You have visited <%= pluralize(@count, "time") %>.</h2> -->
<h2><%= @count_message %></h2>
<% cache @products do %>
  <% @products.each do |p| %>
    <% cache @product do %>
      <div class = "entry">
        <%= image_tag(p.image_url) %>
        <h3> <%= p.title %></h3>
        <%= sanitize(p.description) %>
        <div class = "price_line">
          <span class = "price"><%= number_to_currency(p.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: p) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<p>Store#index Find me in app/views/store/index.html.erb</p>
